body{
    scroll-behavior: smooth;
    /* background-color: rgb(250, 251, 253); */
    
      background-image: url("body1.jpg");
      /* background-repeat: no-repeat; */
      background-attachment: fixed;
}
.footer{
    display: grid;
    place-items: center;
    margin: 30px;
}
